Loop/.vs/Loop/v16/TestStore/0/000.testlog
Loop/.vs/Loop/v16/TestStore/0/testlog.manifest
Loop/Loop.Database/obj/Debug/Loop.Database.csproj.CopyComplete
Loop/Loop.Desktop/obj/Debug/Loop.Desktop.csproj.CopyComplete
Loop/Loop.Entities/obj/Debug/Loop.Entities.csproj.CopyComplete
Loop/Loop.Services/obj/Debug/Loop.Services.csproj.CopyComplete
Testing/IdentityUsers.txt
