<head>
    <link href="~/Content/css/main.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/color.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" />
</head>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="widget">
                    <div class="foot-logo">
                        <div class="logo">
                            <a href="index.html" title=""><img id="logo-img-footer" src="~/Content/LoopFooter.png" alt=""></a>
                        </div>
                        <p>
                            “Everybody should learn to program a computer, because it teaches you how to think" - Steve Jobs
                        </p>
                    </div>
                    <ul class="location">
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <p>Panepistimiou 39. Athens Greece 104 31.</p>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <p> +30 210 3729 070</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="widget">
                    <div class="widget-title"><h4>follow</h4></div>
                    <ul class="list-style">
                        <li><i class="fa fa-facebook-square"></i> <a href="#" title=""> Facebook</a></li>
                        <li><i class="fa fa-twitter-square"></i><a href="#" title=""> Twitter</a></li>
                        <li><i class="fa fa-instagram"></i><a href="#" title=""> Instagram</a></li>
                        <li><i class="fa fa-google-plus-square"></i> <a href="#" title=""> Google+</a></li>
                        <li><i class="fa fa-pinterest-square"></i> <a href="#" title=""> Pintrest</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="widget">
                    <div class="widget-title"><h4>Navigate</h4></div>
                    <ul class="list-style">
                        <li><a href="#about" title="">About us</a></li>
                        <li><a href="#services" title="">Forum</a></li>
                        <li><a href="#products" title="">Products</a></li>
                        <li><a href="#team" title="">Meet the Team</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-2 col-sm-4">
                <div class="widget">
                    <div class="widget-title"><h4>Meetup</h4></div>
                    <div id="goo-map">

                    </div>
                </div>
            </div>

        </div>
    </div>
</footer><!-- footer -->
<div class="bottombar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="copyright">© Loop Team 2020. All rights reserved.</span>
            </div>
        </div>
    </div>
</div><!-- bottom bar -->


@*SCRIPT FOR GOOGLE MAP*@
<script>
    function initMap() {
        // Map Options
        var options = {
            zoom: 14,
            center: { lat: 37.983810, lng: 23.727539 }
        }

        // New Map
        var map = new google.maps.Map(document.getElementById('goo-map'), options);
        var allMarkers = [
            {
                coords: { lat: 37.984410, lng: 23.728260 },
                iconImage: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
                content: '<h5>All meetups</h5> <p>Here is the place where all our meetups took place</p>'
            }
        ];

        // Loop All Markers
        for (var i = 0; i < allMarkers.length; i++) {
            addMarker(allMarkers[i]);
        }

        function addMarker(props) {
            var marker = new google.maps.Marker({
                position: props.coords,
                map: map
            });

            // Check For Custom Icon
            if (props.iconImage) {
                marker.setIcon(props.iconImage);
            }

            // Check For Content
            if (props.content) {
                var infoWindow = new google.maps.InfoWindow({
                    content: props.content
                });

                marker.addListener('click', function () {
                    infoWindow.open(map, marker);
                });
            }
        }
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBW84ZO3cLRAfmXWPTRC-xQvCelNSoTx08&callback=initMap"
        async defer>
</script>