@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "manage-btn" })
        <a href="javascript:document.getElementById('logoutForm').submit()" class="manage-btn"> Logout </a>

    }
}
else
{
    @Html.ActionLink("Sign-In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "manage-btn" })
    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "manage-btn" })
}







