
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #273746;">
    <a href="/Home/Index"><img src="~/Content/loopLogo.png" alt="" class="img-fluid"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/Post/Index">Posts<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Products/Index">Tutorials</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Jobs</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>

            <a href="/Account/Login" class="btn bg-light text-primary my-2 my-sm-0 mx-2 btn-sm" role="button">Sign-In</a>
            <a href="/Account/Register" class="btn bg-light text-primary my-2 my-sm-0 btn-sm" role="button">Register</a>
        </form>
    </div>
</nav>