<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
        <div class="header-container d-flex align-items-center">
            <div class="logo mr-auto">
                <a href="/Home/Index"><img src="~/Content/loopLogo.png" alt="" class="img-fluid"></a>
            </div>

            <div class="wrap">
                <div class="search">
                    <input type="text" class="searchTerm" placeholder="Write your question here..">
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="drop-down">
                        <a href="/Home/Index">Menu<i class="fas fa-caret-square-down"></i></a>
                        <ul>
                            <li><a href="/Post/Index">Posts</a></li>
                            <li><a href="/Products/Index">Tutorials</a></li>
                            <li><a href="#">Jobs</a></li>
                            <li><a href="/Home/About">About</a></li>
                        </ul>
                    </li>
                    @* NEED TO TRY IT AGAIN | WE CAN WACTH THE NAME OF LOGGED USER *@
                    @*@Html.Partial("_LoginPartial")*@

                    <li class="get-started"><a href="/Account/Login">Log in</a></li>
                    <li class="get-started"><a href="/Account/Register">Sign up</a></li>
                </ul>
            </nav><!-- .nav-menu -->
        </div><!-- End Header Container -->
    </div>
</header><!-- End Header -->
