<!-- ======= Header ======= -->

<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">
        <h1 class="row-cols-1"><a href="/Home/Index"></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="/Home/Index" class="logo mr-auto"><img src="~/Content/newLogo.png" alt="" class="img-fluid "></a>
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li><a href="/Post/Index">Posts</a></li>
                <li><a href="/Products/Index">Products</a></li>
                @if (User.IsInRole("Admin") || User.IsInRole("Customer"))
                {
                    <li><a href="/Jobs/Index">Jobs</a></li>
                }
                <li><a href="/Tags/Index">Tags</a></li>
                @if (User.IsInRole("Admin"))
                {
                    <li><a href="/User/Index">Admin</a></li>
                }
                @*<a href="#about" class="get-started-btn scrollto">Get Started</a>*@
                @Html.Partial("_LoginPartial")
            </ul>
      
        </nav><!-- .nav-menu -->
    </div>
</header><!-- End Header -->