    <section>
        <div class="gap gray-bg">
            <div class="container">
                <div class="row merged20">
                    <!--EDWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW-->
                    <div class="col-lg-3">
                        <aside class="sidebar static">
                            <div class="widget">
                                <div class="singin">
                                    <h4 class="widget-title">Login</h4>
                                    <form method="post">
                                        <input type="text" placeholder="User Name">
                                        <input type="password" placeholder="Password">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" checked="checked"><i class="check-box"></i>
                                                <span>Remember Me</span>
                                            </label>
                                        </div>
                                        <button type="submit">Log In</button>
                                    </form>
                                </div>
                            </div>
                            <div class="widget">
                                <h4 class="widget-title">Forum Statistics</h4>
                                <ul class="forum-static">
                                    <li>
                                        <a href="" title="">Forums</a>
                                        <span>13</span>
                                    </li>
                                    <li>
                                        <a href="" title="">Registered Users</a>
                                        <span>50</span>
                                    </li>
                                    <li>
                                        <a href="" title="">Topics</a>
                                        <span>14</span>
                                    </li>
                                    <li>
                                        <a href="" title="">Replies</a>
                                        <span>32</span>
                                    </li>
                                    <li>
                                        <a href="" title="">Topic Tags</a>
                                        <span>50</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget">
                                <h4 class="widget-title">Recent Topics</h4>
                                <ul class="recent-topics">
                                    <li>
                                        <a href="" title="">The new Goddess of War trailer was launched at E3!</a>
                                        <span>2 hours, 16 minutes ago</span>
                                        <i>The Community</i>
                                    </li>
                                    <li>
                                        <a href="" title="">The new Goddess of War trailer was launched at E3!</a>
                                        <span>2 hours, 16 minutes ago</span>
                                        <i>The Community</i>
                                    </li>
                                    <li>
                                        <a href="" title="">The new Goddess of War trailer was launched at E3!</a>
                                        <span>2 hours, 16 minutes ago</span>
                                        <i>The Community</i>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget">
                                <h4 class="widget-title">Featured Topics</h4>
                                <ul class="feature-topics">
                                    <li>
                                        <i class="fa fa-star"></i>
                                        <a href="" title="">What is your favourit season in summer?</a>
                                        <span>2 hours, 16 minutes ago</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                        <a href="" title="">The new Goddess of War trailer was launched at E3!</a>
                                        <span>2 hours, 16 minutes ago</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                        <a href="" title="">Summer is Coming! Picnic in the east boulevard park</a>
                                        <span>2 hours, 16 minutes ago</span>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>