@model System.Exception
@{
    Layout = null;
}

<img src="~/Content/assets/productPhoto.jpg" />

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FailureView</title>
</head>
<body>
    <div>
        <p>Failed</p>
        <p>@Model.Message</p>
    </div>
</body>
</html>

