@model IEnumerable<Loop.Entities.Concrete.Product>

@{
    ViewBag.Title = "Index";
}


@Html.ActionLink("Create New", "Create", null, new { @class = "btn-danger" })


<div class="se-pre-con"></div>
<div class="theme-layout">
    <br />
    <br />

    <div class="container">
        <div class="row merged20">
            <div class="col-lg-12">
                <div class="forum-warper">
                    <div class="central-meta">
                        <div class="title-block">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="align-left">
                                        <h5>Forum open topic</h5>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row merged20">
                                        <div class="col-lg-7 col-md-7 col-sm-7">
                                            <form method="post">
                                                <input type="text" placeholder="Search...">
                                                <button type="submit"><i class="fa fa-search"></i></button>
                                            </form>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <div class="select-options">
                                                <select class="select">
                                                    <option>Sort by</option>
                                                    <option>See All</option>
                                                    <option>Newest</option>
                                                    <option>oldest</option>
                                                    <option>A to Z</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-sm-1">
                                            <div class="option-list">
                                                <i class="fa fa-ellipsis-v"></i>
                                                <ul>
                                                    <li class="active"><i class="fa fa-check"></i><a title="" href="#">Show Public</a></li>
                                                    <li><a title="" href="#">Show only Friends</a></li>
                                                    <li><a title="" href="#">Hide all Posts</a></li>
                                                    <li><a title="" href="#">Mute Notifications</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- title block -->
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="gap2 gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row merged20" id="page-contents">
                            <div class="col-lg-12">

                                <div class="load-more">
                                    @foreach (var product in Model)
                                    {
                                        <div class="central-meta item">
                                            <div class="classic-post">
                                                <figure>
                                                    <img src="https://image.slidesharecdn.com/c-150513072348-lva1-app6892/95/c-tutorial-1-638.jpg?cb=1431501877" style="width:150px; height:150px" alt="">
                                                    <span class="yellow">Featured</span>
                                                </figure>
                                                <div class="classic-pst-meta">
                                                    <div class="more">
                                                        <div class="more-post-optns">
                                                            <i class="ti-more-alt"></i>
                                                            <ul>
                                                                <li><i class="fa fa-pencil-square-o"></i>Edit Post</li>
                                                                <li><i class="fa fa-trash-o"></i>Delete Post</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <h4><i class="fa fa-check-circle" title="verified"></i> <a href="#" title="">@product.Title</a></h4>
                                                    <div style="width:600px"><p>@Html.ActionLink(product.Description, "Details", new { id = product.ProductId })</p></div>
                                                    <span class="prise">$3000</span>
                                                    <div class="location-area">
                                                        <a href="#" class="main-btn" title="">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div><!-- centerl meta -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- content -->


</div>

<script src="js/main.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
<script src="js/locationpicker.jquery.js"></script>
<script src="js/map-init.js"></script>
<script src="js/script.js"></script>
<script>
    jQuery(document).ready(function ($) {

        $('#us3').locationpicker({
            location: {
                latitude: -8.681013,
                longitude: 115.23506410000005
            },
            radius: 0,
            inputBinding: {
                latitudeInput: $('#us3-lat'),
                longitudeInput: $('#us3-lon'),
                radiusInput: $('#us3-radius'),
                locationNameInput: $('#us3-address')
            },
            enableAutocomplete: true,
            onchanged: function (currentLocation, radius, isMarkerDropped) {
                // Uncomment line below to show alert on each Location Changed event
                //alert("Location changed. New location (" + currentLocation.latitude + ", " + currentLocation.longitude + ")");
            }
        });

    });
</script>