@{
    ViewBag.Title = "SelectType";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <br />
        <br />
        <br />
        <br />
        <div class="container">
            @Html.ListBox("SelectedProduct")




            <div class="form-group">


                <div class="form-group" style="display:inline-block">
                    <button type="submit" value="Create" class="btn btn-sm btn-warning text-white"> Create</button>
                </div>
                <div class="form-group" style="display:inline-block">
                    <div id="back-button">@Html.ActionLink("Back", "Index", null, new { @class = " btn btn-sm" })</div>
                </div>

            </div>
        </div>
    }

</body>
</html>
