@{
    ViewBag.Title = "About";
}

<main class="about-main">
<h3>WELLCOME TO LOOP</h3>
    <p class="about-p">
        We are four new developers from Greece and we created this website in order to help the coding community to become even bigger.
        <br />
        We really want to hear your thoughts, stories or questions about coding.
        <br />
        If you want to talk about coding you are more than welcome to join us.
        <br />
        Always remember "Talk is cheap, Show me the code"..
    </p>
</main>