
@{
    ViewBag.Title = "Quiz";
}

<h2>Quiz</h2>

@{
    var url = "https://i.simmer.io/@UserNameKo/loopquiz";
}
<div class="container">
    <div style="padding-left:70px; padding-top:50px; padding-bottom:50px;">
        <iframe src=@url style="width:960px;height:600px;"></iframe>
    </div>
</div>

