/* ----- ABOUT PAGE -----*/
.about-main {
    padding-top: 5%;
}

.about-p {
    font-size: 1.2em;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #999;
    line-height: 2.5;
}

.index-main-header {
    font-size: 2em;
}

/* -----  NAVIGATION BAR -----*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #273746;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

    .searchTerm:focus {
        color: #00B4CC;
    }

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #273746;
    background: #273746;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.wrap {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* -----  PRODUCT PAGE -----*/
.se-pre-con {
    padding-top: 5%;
}

.form-horizontal {
    padding-top: 10%;
}