@model IEnumerable<Loop.Entities.ImageFile>

@{
    ViewBag.Title = "Index";
}

<h2>ImageFiles Upload</h2>


<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container">

        @using (Html.BeginForm("Index", "ImageUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                <label>Upload Image Files</label>
                <div class="input-group">
                    @Html.TextBox("imageFile", "", new { type = "file" })<br />
                    <input type="submit" value="Upload Image Files" />
                </div>
            </div>
        
        }
    </div>



    @foreach (var item in Model)
    {

        <div class="col-md-3 ">
                <img class="img-fluid" src="@Url.Content(@item.ImgPath)" height="160" width="160" />
                <div class="title" style="width:250px;"> @item.ImgName </div>
                <hr />
        </div>
    }
    </body>
</html>
