@{
    ViewBag.Title = "Tags Page";
}

@Styles.Render("~/Content/ioannis/TagsStyleSheet.css")
@Scripts.Render("https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js")
@Scripts.Render("~/Scripts/ioannis/tags.js")

<div class="myCustomContainer" ng-app="TagsApp" ng-controller="TagsController">
    <main>
        <div class="filtering">
            <h4 class="filtering-caption">Tag search</h4>
            <input class="filtering-input" type="search" ng-model="model_search" ng-change="tagFilter()" placeholder="Enter text to search" />
        </div>
        <header class="main-header">
            <h1>Tags page</h1>
            <h4>Use tags to categorize your questions.</h4>
        </header>
        <div class="tags-container">
            <div class="tag" ng-repeat="tag in tags | filter: tagFilter">
                <div class="tag-header">
                    <a href="/Tags/Details/{{tag.TagId}}">
                        {{tag.Title}}
                    </a>
                    <img src="{{tag.ImageUrl}}" alt="Image of the {{tag.Title}} tag.">
                </div>
                <div>
                    {{tag.Description}}
                </div>
            </div>
        </div>
    </main>
</div>

