

.tag-post {
    background-color: #47b2e4;
}

.post-reply {
    background-color: #47b2e4;
}

.loopUser-name {
    background-color: #37517e;
}

.post-date {
    font-size: x-small;
}



/***************************/
/******#region PRODUCT******/
#product-img {
    width: 130px;
    height: 193px;
    object-fit: cover;
}

.classic-pst-meta h4 {
    margin: 5px;
    height: 50px;
}

.classic-pst-meta p {
    height: 120px;
}

.location-area #btn {
    background-color: #37517e;
    color: #ffffff;
}

.title-block .btn {
    background-color: #37517e;
    color: #ffffff;
}

.table-borderless input {
    width: 50px;
    height: 25px;
    margin: 5px;
    border-radius: 10px;
}

.more-post-optns {
    float: right;
}

.form-horizontal {
    padding-top: 5%;
}

.delete-product {
    text-align: center;
    padding-top: 5%;
}

.dl-horizontal {
    display: block;
    text-align: center;
}
/******#endregion PRODUCT******/
/******************************/

.fas {
    color: #37517e;
}


#back-button .btn {
    color: #fff;
    background-color: #37517e;
}

    #back-button .btn:hover {
        color: #fff;
        background-color: #37517e;
        opacity: 0.6;
    }


/***************************/
/******#region USER******/
#edit-user {
    padding-top: 5%;
    padding-bottom: 5%;
}

    #edit-user h2 {
        text-align: center;
    }

#user-avatar {
    max-height: 200px;
    max-width: 200px;
    min-height: 200px;
    min-width: 200px;
}
/******#endregion USER******/
/******************************/

#map {
    height: 290px;
    width: 385px;
}

/***************************/
/******#region CONTACT INDEX******/
#contact-photo {
    background-image: url(../Content/assets/2534050.jpg);
    background-size: cover;
    box-shadow: inset 0 0 3px 0 #47b2e4;
}
/******#endregion CONTAXT INDEX******/
/******************************/

.manage-btn:hover {
    color: #ffffff !important;
}